@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mats University</h1>
    <p class="lead">Mats university is a simple demonstration of code first Entity framework in a simple MVC 5 application for  university records.</p>
    
</div>

<
        <h2>Getting started</h2>
        <p>
            This site is designed using MVC 5 asp.net and it designed to give a basic demonstration of how data can be used on a website and how this is done by
            Entity Framework 6 and using a way called code first this is where the database is created by the code as opposed to the database first model which uses a database already set up
            and the code is used to interact with the database. It can be argued about which method is the best as the developer i prefer code first because it offers great
            flexibility with in the database and it can also force any data inconsistencies through ie the need for strict relationships between columns i found code first
            allows greater flexibility in how you can build and integrate a database into a website.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    
    
